<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shmzh.Gather.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Shmzh.Gather.Data.Properties.Settings>
            <setting name="Shmzh_Gather_Data_CSchemaService_CSchemaService"
                serializeAs="String">
                <value>http://116.236.252.117/Shmzh.Gather.WebService/CSchemaService.asmx</value>
            </setting>
        </Shmzh.Gather.Data.Properties.Settings>
    </applicationSettings>
</configuration>