<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <!--数据库连接字符串，其中data source指数据库服务器的IP地址，也可以用电脑的名字；initial catalog指数据库名 -->
  <add key="ConnString" value="data source=localhost;initial catalog=GATHER;integrated security=SSPI;packet size=4096" />
    <!--数据文件存放路径 -->
    <add key="WorkPath" value="D:\KEPWareDatas" />
    <!--到PLC网读数据的时间间隔，单位是豪秒 -->
    <add key="TimerInterval" value="1000" />
    <!-- 写文件时间间隔，单位是秒 -->
    <add key="WriterInterval" value="30" />
    <!-- RSLINX服务器的IP地址,为空的时候代表本机 -->
    <add key="NodeIP" value="10.0.0.235" />
    <!-- RSLINX的名称 -->
    <add key="ProgID" value="Kepware.KEPServerEnterprise.V5" />
    <!-- OPCGroup的名称 -->
    <add key="OPCGroup" value="_YP-KEP" />
    <add key="Action" value="7"/>
  </appSettings>
</configuration>
