<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shmzh.Monitor.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Shmzh.Monitor.Data.Properties.Settings>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_Tag_Tag"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/tag.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_RunStatus_RunStatus"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/RunStatus.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_TagDay_TagDay"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/TagDay.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_TagHour_TagHour"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/TagHour.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_TagMin15_TagMin15"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/TagMin15.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_TagMinute_TagMinute"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/TagMinute.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_TagMonth_TagMonth"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/TagMonth.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_Shmzh_Monitor_DataService_TagYear_TagYear"
          serializeAs="String">
        <value>http://222.66.7.212/Shmzh.Monitor.DataService/TagYear.asmx</value>
      </setting>
    </Shmzh.Monitor.Data.Properties.Settings>
  </applicationSettings>
  
  <appSettings>
    <add key="Shmzh.Monitor.DAL.NameSpace" value="Shmzh.Monitor.Data.SqlClient"/>
    <add key="Shmzh.Monitor.Schema.DAL.NameSpace" value="Shmzh.Monitor.Data.SqlClient"/>
    <add key="Shmzh.Project.DAL" value="Shmzh.Project.DataAcess.SQLServerDAL"/>
    
    <add key="BeginHour" value="8"/>
    <add key="EndHour" value="16"/>
  </appSettings>
</configuration>