<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!-- 
使用方式：
  DeleteFileJob 参数1，参数2，参数3
  参数1 = 0 ： 删除采集过程中生成的数据文件
  参数1 = 1 ： 执行计算合成指标的存储过程。
         此时 参数2 为合成指标计算的参数，HOUR 为计算小时合成指标，DAY 为计算天合成指标，
          MONTH 为计算月合成指标，YEAR 为计算年合成指标
  参数1 = 2 ： 计算后台报表。
  参数1 = 3 ： 转换数据到三高公司的数据库中。
         此时 参数2 表示转换数据的类型，HOUR 为转换小时数据，DAY 为转换天数据，MONTH 为转换月数据。
         参数3 表示数据的开始时间，如果为空，就表示转换上一天或上一月的数据。					
 -->
  <configSections>
    <section name="Shmzh.Gather.Data" type="Shmzh.Components.SystemComponent.Section, Shmzh.Components.SystemComponent" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <Shmzh.Gather.Data defaultProvider="SqlDataProvider">
    <providers>
      <!--
        *** SqlClient Provider ***
          connectionStringName: sqlclient connection string to the db
          useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
      -->
      <add name="SqlDataProvider" type="Shmzh.Gather.Data.SqlClient.SqlDataProvider, Shmzh.Gather.Data.SqlClient" connectionStringName="Shmzh.Gather.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" defaultCommandTimeout="30" useGZip="true"/>
    </providers>
  </Shmzh.Gather.Data>
  <connectionStrings>
    <add name="Shmzh.Gather.Data.ConnectionString" connectionString="Data Source=.;Initial Catalog=gather;User ID=sa;Password=mzh.123"/>
  </connectionStrings>
  <appSettings>
    <!--原始值与报表值允许的误差范围-->
    <add key="RangValue" value="0.0001" />
    <!--数据库连接字符串，其中data source指数据库服务器的IP地址，也可以用电脑的名字；initial catalog指数据库名 -->
    <add key="ConnectionString" value="data source=.;initial catalog=Gather;persist security info=False;user id=sa;packet size=4096;Password=mzh.123;" />
    <!--数据文件保留天数 -->
    <add key="LeaveDays" value="7" />
    <!--报表自动保存时导出报表文件的保留天数-->
    <add key="OWCXMLLeaveDays" value ="10"/>
    <!--报表方案文件Schema.XML存放的绝对路径 -->
    <add key="XmlFileSchema" value="c:/ini/Schema.XML" />
    <!--角色权限定义文件Users.XML存放的绝对路径 -->
    <add key="XmlFileUsers" value="c:/ini/Users.XML" />
    <!--三高水质数据库连接字符串，其中data source指数据库服务器的IP地址，也可以用电脑的名字；initial catalog指数据库名 -->
    <add key="ConnectionString_SBSZ" value="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=d:dxj\sbscxt\SBSZ\DBSB.mdb;Mode=Share Deny None;Extended Properties=;Jet OLEDB:System database=;Jet OLEDB:Registry Path=;Jet OLEDB:Database Password=;Jet OLEDB:Engine Type=4;Jet OLEDB:Database Locking Mode=0;Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Global Bulk Transactions=1;Jet OLEDB:New Database Password=;Jet OLEDB:Create System Database=False;Jet OLEDB:Encrypt Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;Jet OLEDB:SFP=False" />
    <!--三高水量数据库连接字符串 -->
    <add key="ConnectionString_SBSC" value="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=d:dxj\sbscxt\SBSC\DBSB.mdb;Mode=Share Deny None;Extended Properties=;Jet OLEDB:System database=;Jet OLEDB:Registry Path=;Jet OLEDB:Database Password=;Jet OLEDB:Engine Type=4;Jet OLEDB:Database Locking Mode=0;Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Global Bulk Transactions=1;Jet OLEDB:New Database Password=;Jet OLEDB:Create System Database=False;Jet OLEDB:Encrypt Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;Jet OLEDB:SFP=False" />
  </appSettings>
</configuration>
