.fieldWrapper
{
    background-position: 0 0;
    background: transparent url(../../images/left-top-corner-box.jpg) no-repeat 0 0;
    background-attachment: inherit;
    padding:0px 10px 0px 10px;
    color:#666666;
}
.fieldWrapper fieldset {border-style:solid;text-align:left;padding-left:15px;min-width:500px;padding-bottom:10px;}
.fieldWrapper fieldset legend{color:#666666;font-weight:bold;font-size:14px;margin-bottom:20px;}
.fieldWrapper fieldset .leftColumn
{
    float: left; 
    position: relative; 
    border-style:solid;
    border-width: 0px 1px 0px 0px;
    border-color: #D5DFE5; 
    width: 220px; 
    margin-right: 19px;
}
.fieldWrapper fieldset .rightColumn
{
    float:right;width:100%;margin-left:-240px;
}
.fieldWrapper fieldset .rightColumn .content
{
    margin-left:240px;
}
.fieldWrapper fieldset label {font-weight:bold;margin-top:10px;}
.fieldWrapper fieldset input{width:200px;padding:1px 0px;}
.fieldWrapper fieldset input[type="text"]{width:200px;}
.fieldWrapper fieldset input[type="checkbox"]{width:30px;}
.fieldWrapper fieldset input[type="submit"]{width:50px;}
.fieldWrapper fieldset input[type="button"]{width:50px;}
.fieldWrapper fieldset select{width:202px;}
.fieldWrapper fieldset textarea{width:200px;overflow:auto;}
.fieldWrapper span.required {	color: #BE5028;}
/*fieldset .calendarDate{width:180px !important;}*/