html,body{margin:0px;padding:0px;}
#sidebar
{
    position:relative;
    float:left;
    width: 200px;
    height: 555px;
    overflow: auto;
    border-color:#E5E5E5;
    border-style:solid;
    border-width:0px 1px 0px 0px;
}
#main
{
    float:right;
    width:100%;
    height: 555px;
    margin-left:-210px;/*IE: preserve layout at narrow widths*/
    margin-top:-1px;
}
.content
{
    margin-left:208px;
}
#container
{
    background-position: 0 0;
    background: transparent url(../../images/left-top-corner-box.jpg) no-repeat 0 0;
    background-attachment: inherit;
    padding:10px 10px 0px 10px;
    color:#666666;
}
fieldset {border-style:solid;height:470px;text-align:left;padding-left:15px;}
fieldset legend{color:#666666;font-weight:bold;font-size:14px;margin-bottom:20px;}
fieldset label {font-weight:bold;margin-top:10px;}
fieldset input{width:350px;padding:1px 0px;}
fieldset input[type="text"]{width:350px;}
fieldset input[type="checkbox"]{width:30px;}
fieldset select{width:352px;}
fieldset textarea{width:350px;overflow:auto;}


span.required {	color: #BE5028;}
