body
{
    text-align: left;
}

#main
{
    width: 100%;
}
#sidebar
{
    width: 160px;
    margin-top:-1px;
    border-color:#E5E5E5;
    border-style:solid;
    border-width:0px 1px 0px 0px;
}
#sidebar .TreeView{min-height:460px;max-height:460px;}
#seperator{width:1px;}
#content
{
    text-align:left;
    vertical-align:top;
}