@import url("../Common.css");

body {
	font-family: Palatino,verdana,sans-serif,serif;
	font-size: 11px;
	color: #785A3C;
	background-color: #ffffff;
	background-image:none;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0;
}
FORM
{
	font-size: 11px;
	font-family: verdana,sans-serif;
}
h1
{
	font-size:20px;
	height:25;
	}
h2
{
	font-size:16px;
	height:22;
	}	
h4
{font-size: 12px;
	height:20px;
	}
span.GrayBorder
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}
select {
	background-color: #FAF7EC;
	border: solid 1px #539DBC;
}
/*
a {
	font-weight: normal;
	font-family: verdana,sans-serif;
	font-size: 11px;
	color: #BE5028;
	outline: none;
	text-decoration: none;
}
a:hover {
	color: #539DBC;
}
*/
TD,p,div,br{FONT-FAMILY: "宋体"; FONT-SIZE: 11px;Color:#000000;}

OPTION{FONT-FAMILY: "宋体"; FONT-SIZE: 11px}
table.formtable {
	width: 100%;
}
span.required {
	color: #BE5028;
}
input.text, textarea {
	background-color: #fff;
	border: solid 1px #696969;
    padding: 1px;
}
/*
INPUT
{
	border-top-width: 1px;
	padding-right: 1px;
	padding-left: 1px;
	border-left-width: 1px;
	font-size: 12px;
	border-left-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
	padding-bottom: 1px;
	border-top-color: #cccccc;
	padding-top: 1px;
	font-family: "宋体";
	height: 18px;
	border-right-width: 1px;
	border-right-color: #cccccc;
}
*/
INPUT
{
	background-color: #fff;
	border: solid 1px #696969;
    padding: 1px;
}
input.text {
	vertical-align: middle;
	width: 173px;
}
input.radio, input.checkbox {
	vertical-align: middle;
}
input.button {
	background-color: #A0DCF8;
	border: solid 1px #79BCDA;
	margin: 0;
	padding: 2px 8px 2px 8px;
	cursor: pointer;
}
hr {
	display: block; /* set display:block so IEWin applies the correct margins */
	color: #696969;
	background-color: #539DBC;
	border: none;
	height: 1px;
	margin: 0 0 5px 0;
	padding: 0;
}

A:visited{TEXT-DECORATION: none;Color: #003399;}
A:active{TEXT-DECORATION: none;Color: #003399;}
A:hover{TEXT-DECORATION: none;Color: #ff3300;}
A:link{text-decoration: none;Color: #003399;}

/****************************************************** 样式类部分******************************************/
.noDoubleBorderTable
{
	border-right: black 1px solid;
	padding-right: 1px;
	border-top: black 1px solid;
	padding-left: 2px;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	border-collapse: collapse;
}
.noDoubleBorderTable_OliveColor
{
	border-right: olive 1px solid;
	padding-right: 1px;
	border-top: olive 1px solid;
	padding-left: 2px;
	border-left: olive 1px solid;
	border-bottom: olive 1px solid;
	border-collapse: collapse;
}
.noBorderTD
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
.noDoubleBorderTable_OliveColor_TD
{
	border-right: olive 1px solid;
	padding-right: 1px;
	border-top: olive 1px solid;
	padding-left: 2px;
	border-left: olive 1px solid;
	border-bottom: olive 1px solid;
}
.noDoubleBorderTable_TD
{
	border-right: black 1px solid;
	padding-right: 1px;
	border-top: black 1px solid;
	padding-left: 2px;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
.flatTextBox
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
.imageButton
{
	cursor: pointer;
}
.skin
{
	border-right: buttonhighlight 3px outset;
	border-top: buttonhighlight 2px outset;
	font-size: 10pt;
	visibility: hidden;
	border-left: buttonhighlight 2px outset;
	width: 60px;
	cursor: default;
	border-bottom: buttonhighlight 3px outset;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: menu;
	text-align: left;
}
.menuitems
{
	padding-right: 10px;
	padding-left: 15px;	
}
.unableItems
{
	padding-right: 10px;
	padding-left: 15px;
	visibility: hidden;
	color: #cccccc;
	position: absolute;
}
.menuhr
{
}
.MenuTD
{
	padding-right: 10px;
	padding-left: 10px;
}
TABLE.OnePixelBoldTable
{
	border-right: #000000 1px solid;
	border-top: #000000 2px solid;
	border-left: #000000 2px solid;
	border-bottom: #000000 1px solid;
}
.OnePixelBoldTable TD
{
	border-right: #000000 1px solid;	
	border-bottom: #000000 1px solid;
	padding-left: 5px;
}
TABLE.OnePixelTable
{
	border-right: #000000 0px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 0px solid;
}
.OnePixelTable TD
{
	border-right: #000000 1px solid;	
	border-bottom: #000000 1px solid;
	padding-left: 4px;
	padding-right:4px;
}
.RightTextBox
{
	vertical-align: baseline;
	text-align: right;
}
.datagridX1
{
	border-right: #bbbbbb 1px solid;
	table-layout: auto;
	border-top: #bbbbbb 1px solid;
	border-left: #bbbbbb 1px solid;
	width: 100%;
	border-bottom: #bbbbbb 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
} 
.dg_header
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-weight: bold;
	border-left: black 1px solid;
	color: #ffffff;
	border-bottom: black 1px solid;
	background-repeat: repeat-x;
	border-collapse: collapse;
	height: 25px;
	background-color: #dbeaf5;
} 
.dg_alter
{
	border-right: #bbbbbb 1px solid;
	border-top: #bbbbbb 1px solid;
	border-left: #bbbbbb 1px solid;
	border-bottom: #bbbbbb 1px solid;
	height: 22px;
	background-color: #e8eef7;
} 
.dg_item
{
	border-right: #bbbbbb 1px solid;
	border-top: #bbbbbb 1px solid;
	border-left: #bbbbbb 1px solid;
	color: #330099;
	border-bottom: #bbbbbb 1px solid;
	height: 22px;
	background-color: #ffffff;
} 
.dg_page
{
	border-right: #bbbbbb 1px solid;
	border-top: #bbbbbb 1px solid;
	border-left: #bbbbbb 1px solid;
	border-bottom: #bbbbbb 1px solid;
}
.P
{
	padding-right: 4px;
	padding-left: 4px;
	padding-top:3px;
	cursor: pointer;
	DISPLAY: inline;
}
.T
{
	border-right: #336699 1px solid;
	padding-right: 3px;
	padding-top:3px;
	border-top: #336699 1px solid;
	padding-left: 3px;
	border-left: #336699 1px solid;
	cursor: pointer;
	border-bottom: #336699 1px solid;
	background-color: #e9f2f8;
	DISPLAY: inline;
}
.Q
{
	padding-right: 4px;
	padding-left: 4px;
	cursor: pointer;
	color: #ffffff;
	background-color: #4791c5;
	DISPLAY: inline;
}
.Q A
{
	color: #ffffff;
}
.U
{
	border-right: #4791c5 1px solid;
	padding-right: 1px;
	border-top: #4791c5 1px solid;
	padding-left: 1px;
	z-index: 100;
	left: -200px;
	visibility: hidden;
	padding-bottom: 1px;
	overflow: visible;
	border-left: #4791c5 1px solid;
	cursor: pointer;
	padding-top: 1px;
	border-bottom: #4791c5 1px solid;
	white-space: nowrap;
	position: absolute;
	top: 0px;
	background-color: #e9f2f8;
	display: inline;
}
.DIVTD
{
	display:inline;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	width: 150px;
	border-bottom: black 1px solid;
	height: 40px;
	background-color: #ccff33;
	margin-left:1px;
	margin-right : 1px;
	
}
.rows {
 display:block;
 border-bottom:#000 1px solid;
}
.rows ul {
 list-style:none;
 display:block;
 margin:0px;
 width:600px;
}
.rows li {
 width:150px;
 height:30px;
}
.leftli {
 float:left;
 border:#000 1px solid;
 border-right:0px;
 border-bottom:0px;
 margin-right:-2px;
 padding:2px 10px 2px 10px;
}
.rightli {
 border:#000 1px solid;
 border-bottom:0px;
 padding:2px 10px 2px 10px;
}
.b-leftli {
 float:left;
 border:#000 1px solid;
 border-right:0px;
 margin-right:-2px;
 padding:2px 10px 2px 10px;
}
.b-rightli {
 border:#000 1px solid;
 padding:2px 10px 2px 10px;
}
.columnLeft {
 position:absolute;
 left:0%;
 width:25%;
 height:30px;
 position:absolute;
 top: 4em;
 background:#fff;
}

.columnInnerLeft {
 position:absolute;
 left: 25%;
 width: 25%;
 height:30px;
 top: 4em;
 background: #fff;
 text-align: justify;
 border-width: 0;
}
.columnInnerRight {
position:absolute;
 left: 50%;
 width: 25%;
 height:30px;
 top: 4em;
 background: #fff;
}
.columnRight {
position:absolute;
 left: 75%;
 width: 25%;
 height:30px;
 top: 4em;
 background: #fff;
}
.pprntable
{
	border-right: #c0c0c0 1px solid;
	border-top: #c0c0c0 1px solid;
	font-size: 9pt;
	border-left: #c0c0c0 1px solid;
	width: 100%;
	color: #07519A;
	border-bottom: #c0c0c0 1px solid;
	font-family: 宋体, 新宋体, 楷体_GB2312;
}
.pprntable TD
{
	border-right: #c0c0c0 1px solid;
	border-top: #c0c0c0 1px solid;
	border-left: #c0c0c0 1px solid;
	border-bottom: #c0c0c0 1px solid;
}
#columnHeader
{
	clear: both;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	background-image: url(../Images/columnHeaderBackGround.jpg);
	border-left: silver 1px solid;
	width: 535px;
	border-bottom: silver 1px solid;
	height: 30px;
	line-height:30px;
	margin-bottom:auto;
	margin-top:auto;
}
#columnMiddle
{
	border-top-width: 1px;
	clear: both;
	border-right: silver 1px solid;
	border-left: silver 1px solid;
	width: 535px;
	border-top-color: silver;
	border-bottom: silver 1px solid;
}
#columnLeft
{
	
	background: url(../Images/PageBackGround_HLeft.JPG) #fff;
	float: left;
	width: 180px;
	height: 265px;
	margin-right:-4px;
	text-align:left;
}
#columnRight
{
	background: url(../Images/PageBackGroundHRight.JPG) #fff;
	width: 350px;
	height: 265px;
	margin-left:-4px;
}
#columnFooter
{
	clear: both;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	width: 540px;
	border-bottom: silver 1px solid;
	text-align: center;
}

#container
{
	/*margin: 20px auto 0px;*/
	border-right: #696969 1px solid;
	border-top:#696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom:#696969 1px solid;
	width: 535px;
	text-align: left;
}
#bar
{
	clear:both;
	border-right: silver 1px solid;
	border-top: silver 0px solid;
	border-left: silver 1px solid;
	border-bottom:silver 1px solid;
	height:30px;
	text-align:left;
	width:800px;
}
#content
{
	clear:both;
	border-right: silver 1px solid;
	border-top: silver 0px solid;
	border-left: silver 1px solid;
	border-bottom:silver 0px solid;
	text-align:left;
	width:800px;
	}
.tab
{
	clear: both;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	margin-top: auto;
	background-image: url(../Images/TabBackGroundLeft.jpg);
	margin-bottom: auto;
	border-left: silver 1px solid;
	width: 530px;
	line-height: 20px;
	border-bottom: silver 1px solid;
	background-repeat: no-repeat;
	height: 20px;
	text-align:left;
	margin-left:0px;
	padding-left:5px;
	font-size:12px;
	
}
