/* 
 * My97 DatePicker Ver 2.0
 * Skin  : default
 * Author: My97
 * Blog  : http://blog.csdn.net/my97/
 */
.Wdate
{
	width: 140px;
	background: url(datePicker.gif) no-repeat right;
}
.WdateDiv{
	width:180px;
	background-color:#FFFFFF;
	border:#bbb 1px solid;
	padding:2px;
}
.WdateDiv *{font-size:9pt;}
.WdateDiv #dpTitle{
	height:26px;
	margin-bottom:2px;
}
.WdateDiv .yminput{
	padding-top:2px;
	text-align:center;
	border:0px;
	height:16px;
	cursor:pointer;
}
.WdateDiv .yminputfocus{
	text-align:center;
	font-weight:bold;
	color:blue;
	border:#ccc 1px solid;
	height:16px;
}
.WdateDiv .ymsel{
	position:absolute;
	margin-left:24px;
	top:22px;
	background-color:#FFFFFF;
	padding:2px;
	border:#ccc 1px solid;
	display:none;
}
.WdateDiv .Wym{
	cursor:pointer;
	background-color:#fff;
}
.WdateDiv .WymOn{
	cursor:pointer;
	background-color:#BEEBEE;
}
.WdateDiv #dpWeekTitle{
	background-color:#BDEBEE;
}
.WdateDiv #dpDayTable{
	line-height:20px;
	border:#c5d9e8 1px solid;
}
.WdateDiv .Wday{
	cursor:pointer;
}
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#C0EBEF;
}
.WdateDiv .Wwday{
	cursor:pointer;
	color:#FF2F2F;
}
.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#000;
	background-color:#C0EBEF;
}
.WdateDiv #dpTime{
	
}
.WdateDiv #dpTime dpTimeStr{
	margin-left:1px;
}
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	border:#ccc 1px solid;	
}
.WdateDiv #dpTime .tB{
	border-right:0px;
}
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(up.jpg);
}
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(down.jpg);
}
.WdateDiv #dpOkInput{
	border:#ccc 1px solid;
	height:16px;
}