<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GraphPane" type="System.Configuration.IgnoreSectionHandler" />
    <section name="Chart" type="System.Configuration.IgnoreSectionHandler" />
    <section name="Axis" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <GraphPane>
    <FillColor value="0,0,0"></FillColor>
    <BorderColor value="179,0,0"></BorderColor>
    <BorderWidth value="1"></BorderWidth>
  </GraphPane>
  <Chart>
    <FillColor value="Black"></FillColor>
    <BorderColor value="179,0,0"></BorderColor>
    <BorderWidth value="1"></BorderWidth>
  </Chart>
  <Axis>
    <BorderColor value="179,0,0"></BorderColor>
    <BorderWidth value="1"></BorderWidth>
    <GridColor value="179,0,0"></GridColor>
    <TitleColor value="179,0,0"></TitleColor>
  </Axis>
  <GuideLine>
    <Color value="255,255,255"></Color>
  </GuideLine>
</configuration>