<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shmzh.Monitor.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Shmzh.Components.SystemComponent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    
  <applicationSettings>
    <Shmzh.Components.SystemComponent.Properties.Settings>
      <setting name="Shmzh_Components_SystemComponent_UserService_User"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/User.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_OwnedRoleService_OwnedRole"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/OwnedRole.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_RoleRightService_RoleRight"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/RoleRight.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_OnlineStatusService_OnlineStatus"
                serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/OnlineStatus.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_CompanyService_Company"
                serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/Company.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_HistoryService_History"
                serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/History.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_GroupUserService_GroupUser"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/GroupUser.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_RoleService_Role"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/Role.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_DeptService_Dept"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/Dept.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_GroupCatService_GroupCat"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/GroupCat.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_GroupService_Group"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/Group.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_GroupRoleService_GroupRole"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/GroupRole.asmx</value>
      </setting>
      <setting name="Shmzh_Components_SystemComponent_UserRoleService_UserRole"
          serializeAs="String">
        <value>http://www.ypwater.com/Shmzh.SystemComponent.WebService/UserRole.asmx</value>
      </setting>
    </Shmzh.Components.SystemComponent.Properties.Settings>
    <Shmzh.Monitor.Data.Properties.Settings>
      <setting name="Shmzh_Monitor_Data_RunStatusService_RunStatus" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/RunStatus.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagDayService_TagDay" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagDay.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagHourService_TagHour" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService.Test/TagHour.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagService_Tag" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/Tag.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagMinuteService_TagMinute" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagMinute.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagMin15Service_TagMin15" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagMin15.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagMonthService_TagMonth" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagMonth.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagYearService_TagYear" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagYear.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagSecondService_TagSecond" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagSecond.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_FloatingBlock_FloatingBlock" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/FloatingBlock.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_FloatingBlockItem_FloatingBlockItem" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/FloatingBlockItem.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_GraphSchemaService_GraphSchema" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/GraphSchema.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_GraphSchemaItem_GraphSchemaItem" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/graphschemaItem.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_GraphSchemaRTag_GraphSchemaRTag" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/graphschemartag.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_GraphSchemaTab_GraphSchemaTab" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/GraphSchemaTab.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_GraphSchemaTag_GraphSchemaTag" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/graphschematag.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_MonitorObj_MonitorObj" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/monitorobj.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_ObjType_ObjType" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/objtype.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_ObjTypeAttrService_ObjTypeAttr" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/objtypeattr.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagGatherService_TagGather" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagGather.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_CategoryService_Category" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/Category.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_CategoryItemService_CategoryItem" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/CategoryItem.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagCategoryService_TagCategory" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagCategory.asmx</value>
      </setting>
      <setting name="Shmzh_Monitor_Data_TagCategoryDetailService_TagCategoryDetail" serializeAs="String">
        <value>http://10.120.1.5/Shmzh.Monitor.DataService/TagCategoryDetail.asmx</value>
      </setting>
    </Shmzh.Monitor.Data.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ProductId" value="25" />
    <add key="Shmzh.Monitor.DAL.NameSpace" value="Shmzh.Monitor.Data.Service"/>
    <add key="Shmzh.Monitor.Schema.DAL.NameSpace" value="Shmzh.Monitor.Data.Service"/>
    <!--<add key="Shmzh.Monitor.Schema.DAL.NameSpace" value="Shmzh.Monitor.Data.Service"/>-->
    
    <!--项目管理-->
    <add key="Shmzh.Project.DAL" value="Shmzh.Project.DataAcess.SQLServerDAL"/>
    <add key="SystemDAL" value="Shmzh.Components.SystemComponent.WSDAL"/>
    <add key="BeginHour" value="8"/>
    <add key="EndHour" value="16"/>
    <!--取数据时单个线程所包含的对象个数。-->
    <add key="ThreadObjCount" value="10"/>
    <!--曲线图中，当查看历史数据左右移动时，单次取数据点的个数。-->
    <add key="Schema_OnceReadCount" value="50"/>
    <!--曲线图中，进行缩放时，单次缩放数据点的个数。请确保Schema_OnceZoomCount小于Schema_OnceReadCount以获得较好的运行效果。-->
    <add key="Schema_OnceZoomCount" value="3"/>
    <!--配置为True，可显示鼠标的位置，在配图时用到。-->
    <add key="IsShowCursorPosition" value="False"/>
    <!--缓存列表的容积，超出时自动清除超出的数据。不大于零的值表示禁用缓存。-->
    <add key="CacheCapacity" value="6000"/> 
    <!--曲线图中分钟数据的坐标刻度值显示格式。-->
    <add key="FormatMin" value="HH:mm"/>
    <!--曲线图中15分钟数据的坐标刻度值显示格式。-->
    <add key="FormatMin15" value="HH:mm"/>
    <!--曲线图中小时数据的坐标刻度值显示格式。-->
    <add key="FormatHour" value="M-d HH:mm"/>
    <!--曲线图中天数据的坐标刻度值显示格式。-->
    <add key="FormatDay" value="M-d"/>
    <!--曲线图中月数据的坐标刻度值显示格式。-->
    <add key="FormatMonth" value="yyyy-M"/>
    <!--曲线图中年数据的坐标刻度值显示格式。-->
    <add key="FormatYear" value="yyyy"/>

    <!--小时的延迟，分钟，值范围0~59-->
    <add key="HourDelay" value="12"/>
    <!--日、月、年的延迟，小时，值范围0~23-->
    <add key="DayDelay" value ="2"/>
    <!--程序启动方式。1：监控；2：工程师分析。-->
    <add key="LaunchType" value="2"/>
    <!--总出厂水量指标。-->
    <add key="WaterTag" value="5003001"/>
    <!--每日最高气温指标。-->
    <add key="TemperatureTagHigh" value="1208002"/>
    <!--每日最低气温指标。-->
    <add key="TemperatureTagLow" value="1208003"/>
  </appSettings>
</configuration>