.datagrid
{
	border-top:1px solid #EEEEEE;
	border-bottom:1px none #D0D0D0;
	border-left:1px solid #EEEEEE;
	border-right:1px solid #D0D0D0;
	word-wrap:break-word;
	word-break:break-all;
}
.datagrid .m-grid-hd-row
{
	background: #F9F9F9	url(../Images/default/grid/grid3-hrow.gif) repeat-x;
	text-align: center;
	font: bold 12px;
	height: 22px;
}
.datagrid .m-grid-hd-row td
{
	border-top:1px solid #EEEEEE;
	border-bottom:1px solid #D0D0D0;
	border-left:1px solid #EEEEEE;
	border-right:1px solid #D0D0D0;
	line-height:15px;
	vertical-align:middle;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	text-align: center;
}
.datagrid .m-grid-row
{
	border-top:1px dotted #EEEEEE;
	border-bottom:1px dotted #D0D0D0;
	border-left:1px dotted #EEEEEE;
	border-right:1px dotted #D0D0D0;
	background-color: #FFF;
	height:21px;
}
.datagrid .m-grid-row td
{
	border-top:1px dotted #EEEEEE;
	border-bottom:1px dotted #D0D0D0;
	border-left:1px dotted #EEEEEE;
	border-right:1px dotted #D0D0D0;
	line-height:16px;
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;
}
.datagrid .m-grid-row-alt
{
	border-top:1px dotted #EEEEEE;
	border-bottom:1px dotted #D0D0D0;
	border-left:1px dotted #EEEEEE;
	border-right:1px dotted #D0D0D0;
	/*background-color: #F5F5F5;*/
	background-color:#F1F5FA;
	
	height:21px;
}
.datagrid .m-grid-row-alt td
{
	border-left:1px dotted #EEEEEE;
	border-right:1px dotted #D0D0D0;
	border-top:1px dotted #EEEEEE;
	border-bottom:1px dotted #D0D0D0;
	line-height:16px;
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;
	/*background-image:none;*/
}
.datagrid .m-grid-ft-row
{
	border-top:1px dotted #EEEEEE;
	border-bottom:1px dotted #D0D0D0;
	border-left:1px dotted #EEEEEE;
	border-right:1px dotted #D0D0D0;
	height:22px;
	background-color: #FFF;
}
.datagrid .m-grid-ft-row td
{
    border-top:1px dotted #EEEEEE;
	border-bottom:1px dotted #D0D0D0;
	border-left:1px dotted #EEEEEE;
	border-right:1px dotted #D0D0D0;
	line-height:16px;
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;
}
.datagrid .m-grid-page-row
{
	border-top:1px dotted #EEEEEE;
	border-bottom:1px dotted #D0D0D0;
	border-left:1px dotted #EEEEEE;
	border-right:1px dotted #D0D0D0;
	height:20px;
	text-align:right;
	vertical-align:middle;
}
.datagrid .m-grid-page-row TD
{
	border-left:1px solid #EEEEEE;
	border-right:1px solid #D0D0D0;
	border-top:0px solid;
	border-bottom:0px solid;
	text-align: right;
	vertical-align: middle;
	line-height:20px;
	font-size:12px;
	font-style:normal;
}

.datagrid .m-grid-page-row TD A
{
    
}

.datagrid .m-grid-pager-input-page
{
    width: 50px;
}

.datagrid .m-grid-pager-button-jump
{
    width: 40px;
	border-right: #989898 1px solid;
	padding-right: 2px;
	background-position: center center;
	border-top: #989898 1px solid;
	padding-left: 2px;
	font-size: 12px;
	background-image: url(../Images/Standard/buttonwhite.gif);
	padding-bottom: 2px;
	margin: 2px;
	vertical-align: baseline;
	border-left: #989898 1px solid;
	cursor: hand;
	padding-top: 2px;
	border-bottom: #989898 1px solid;
	background-repeat: repeat-x;
	background-color: transparent;
	text-align: center;
}
.datagrid .m-grid-row-over
{
	border:1px solid #dddddd;
	/*background-color:#D4BEE1;*/
    background: #efefef url(../images/default/grid/row-over.gif) repeat-x left top !important;
    /*background:#efefef url(../images/row-check-sprite.png) no-repeat 2px 3px;*/
}
    
.datagrid .m-grid-row-selected
{
	/*background:#DFE8F6 url(../images/default/grid/row-sel.gif) repeat-x left top;*/
	color:#fff;
	border:1px dotted #A3BAE9;
	background:#3D80DF url(../images/row-check-sprite.png) no-repeat 0 -53px !important;
}
.datagrid .m-grid-row-over>td,.datagrid .m-grid-row-selected>td
{
    background-image:none;
    /*background-image:url(../images/s.gif);
    background-image:url(../images/user.png);*/
}
.datagrid td.center
{
    text-align:center;
}
.datagrid td.right{text-align:right;}
.datagrid td.left{text-align:left;}