<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached>
      <servers>
        <!-- put your own server(s) here-->
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100"
      connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider"
      type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders"
      keySuffix="_MySuffix_" defaultExpireTime="2000"/>
    </providers>
  </cacheProvider>
  <appSettings>
    <add key="Shmzh.Monitor.DAL.NameSpace" value="Shmzh.Monitor.Data.SqlClient"/>
    <add key="BeginHour" value="8"/>
    <add key="EndHour" value ="16"/>
    <!--时钟和取数延迟-->
    <add key="TimerInterval" value="1000"/>
    
    <add key="SecondInterval" value="30"/><!--秒数据刷新频率，秒-->
    <add key="SecondDelay" value="10"/><!--秒的延迟,秒-->

    <add key="MinuteInterval" value="60"/><!--分钟数据的刷新频率，秒-->
    <add key="MinuteDelay" value="30"/><!--分钟的延迟，秒-->

    <add key="Min15Interval" value="15"/><!--15分钟数据的刷新频率，分钟-->
    <add key="Min15Delay" value="3"/><!--15分钟的延迟，分钟-->

    <add key="HourInterval" value ="60"/><!--小时数据的刷新频率，分钟-->
    <add key="HourDelay" value="10"/><!--小时的延迟，分钟-->

    <add key="DayInterval" value ="60"/><!--日数据的刷新频率，分钟-->
    <add key="DayDelay" value ="10"/><!--日的延迟，分钟-->
    
    <add key="TagMSInterval" value ="5"/><!--指标数据的刷新频率，分钟-->
    <add key="TagMSDelay" value ="0"/><!--指标数据的刷新延迟，分钟-->

    <add key="RunStatusInterval" value="1"/><!--机泵运行状态数据的刷新频率,分钟-->
    <add key="RunStatusDelay" value="0"/><!--机泵运行状态数据的刷新延迟,分钟-->
  </appSettings>
</configuration>