<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Shmzh.Gather.Data" type="Shmzh.Components.SystemComponent.Section, Shmzh.Components.SystemComponent" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name ="Shmzh.Gather.Data.ConnectionString" connectionString="data source=(local);initial catalog=Gather;User ID=sa;password=yhwbv;"/>
  </connectionStrings>
  <Shmzh.Gather.Data defaultProvider="SqlDataProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="SqlDataProvider" type="Shmzh.Gather.Data.SqlClient.SqlDataProvider, Shmzh.Gather.Data.SqlClient" connectionStringName="Shmzh.Gather.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" defaultCommandTimeout="30" />
    </providers>
  </Shmzh.Gather.Data>
  <appSettings>
    <add key ="DataFile" value ="d:\DDEDatas"/><!--文本文件存放路径-->
    <add key="QueueName" value =".\Private$\DataFiles"/><!--消息队列名-->
    <add key="Action" value ="2"/><!--采集动作类型-->
    <add key="LinkTopic" value ="IMPACC"/><!--DDE源应用程序名-->
    <add key="ReadInterval" value ="5000"/><!--读取指标数据的间隔，单位为毫秒-->
    <add key ="WriteInterval" value ="30"/><!--写文件的时间间隔，单位为秒-->
    <add key ="ConnnectionCheckInterval" value="5000"/><!--检查DDE连接的时间间隔，单位为毫秒-->
    <add key ="TryConnectionTimes" value ="5"/><!--尝试进行DDE连接的次数-->
    <add key ="AlertInterval" value="30"/><!--发出警告的时间间隔，单位为分钟-->
    <add key ="AlertMaxCount" value="0"/><!--最多发送多少次警告，0为不限-->
  </appSettings>
</configuration>