@import url("../../CSS/Common.css");
@import url("../../CSS/Modules/DocAuditWebControl.css");
@import url("../../CSS/Modules/DocWebControl.css");
@import url("../../CSS/Modules/StorageDropdownlist.css");
@import url("../../CSS/Modules/DGModel_Items.css");
@import url("../../CSS/Modules/CancelWebControl.css");
body
{
	margin: 8px 0px 0px 0px;
}
.tb_rolename
{
	width:180px;
}
.thisDDL
{
	width:180px;
}
.myTableToolbar
{
	width: 98%;
	border-width:1px;
	margin-left:auto;
	margin-right:auto;
}
.myTableToolbar td
{
	padding:1px 1px 1px 1px;
}
.td_Submit
{
	text-align:center;
}
.myItemControl
{
	height:280px;
	vertical-align:top;
}
