<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Shmzh.Gather.Data" type="Shmzh.Components.SystemComponent.Section, Shmzh.Components.SystemComponent" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name ="Shmzh.Gather.Data.ConnectionString" connectionString="data source=(local);initial catalog=Gather;User ID=sa;password=mm4ry;"/>
  </connectionStrings>
  <Shmzh.Gather.Data defaultProvider="SqlDataProvider">
    <providers>
      <!--
        *** SqlClient Provider ***
          connectionStringName: sqlclient connection string to the db
          useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
      -->
      <add name="SqlDataProvider" type="Shmzh.Gather.Data.SqlClient.SqlDataProvider, Shmzh.Gather.Data.SqlClient" connectionStringName="Shmzh.Gather.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" defaultCommandTimeout="30" />
    </providers>
  </Shmzh.Gather.Data>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
