<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Map" connectionString="Data Source=Map.db3;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="MapDAL" value="DDE2OPC.SQLiteDAL"/>
    <!--OPC Server IP地址-->
    <add key="NodeIP" value ="10.0.0.230"/>
    <!--OPC Server 应用程序名称-->
    <add key="ProgID" value ="RSLinx Remote OPC Server"/>
    <!--OPC Group名称-->
    <add key="OPCGroup" value ="Shmzh"/>
    <!--DDE源应用程序名-->
    <add key="DDEServiceName" value ="EXCEL"/>
    <!--在界面上刷新指标数据的间隔，单位为毫秒-->
    <add key="ReadInterval" value ="5000"/>
    <!--将指标数据写入OPC的时间间隔，单位为毫秒-->
    <add key="WriteInterval" value="5000"/>
  </appSettings>
  <!---system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.65.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data-->
</configuration>