<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Shmzh.Monitor.OnlineUpgrade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
	</startup>
	<appSettings>
		<add key="Product" value="Monitor"/>
		<add key="AppFile" value="Shmzh.Monitor.Main.exe"/>
		<add key="AppName" value="生产监控系统"/>
	</appSettings>
	<applicationSettings>
		<Shmzh.Monitor.OnlineUpgrade.Properties.Settings>
			<setting name="OnlineUpgrade_OnlineUpgradeService_OnlineUpgrade" serializeAs="String">
				<value>http://localhost/Shmzh.OnlineUpgradeService/OnlineUpgrade.asmx</value>
			</setting>
		</Shmzh.Monitor.OnlineUpgrade.Properties.Settings>
	</applicationSettings>
</configuration>
