<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="UseLDAP" value ="0"/>
    <add key ="ADPath" value ="LDAP://ldap.nottingham.edu.cn/dc=nottingham,dc=edu,dc=cn"/>
    <add key="Domain" value ="nottingham.edu.cn"/>
		<!--数据访问层-->
		<add key="SystemDAL" value="Shmzh.Components.SystemComponent.SQLServerDAL"/>
		<!--版权所有-->
		<add key="CopyRight" value="上海名之赫科技有限公司"/>
		<!--技术支持-->
		<add key="ProductBy" value="上海名之赫科技有限公司"/>
		<!--产品Id-->
		<add key="ProductId" value="11"/>
		<!--是否自动登录-->
		<add key="AutoLogin" value="False"/>
		<!--自动登录的时候是否记录登录日志，0：不记录，1：记录。-->
		<add key="RecordAutoLogin" value="0"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Forms">
			<forms name="Shmzh.SingleSignOn" protection="None" timeout="600" loginUrl="login.aspx" path="/">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"></deny>
		</authorization>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<sessionState mode="InProc" cookieless="false" timeout="600"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages/></system.web>
</configuration>
