<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Gather" connectionString="Data Source=192.168.161.13;Initial Catalog=gather;Integrated Security=False;Connect Timeout=30;User Id=sa;Password=mm4ry;" />
    </connectionStrings>
    <appSettings>
        
    </appSettings>
</configuration>