.tc_ItemCode
{
	width:14%;
}
.tc_ItemName
{
	width:14%;
}
.tc_ItemNameBorR
{
	width:10%;
}
.tc_ItemSpecial
{
	width:14%;
}
.tc_ItemSpecialBorR
{
	width:10%;
}
.tc_ItemUnitName
{
	width:6%;
}
.tc_BatchCode
{
	width:8%;
}
.tc_ItemPrice
{
	width:7%;
}
.tc_PlanNum
{
	width:9%;
}
.tc_ItemNum
{
	width:9%;
}
.tc_ItemMoney
{
	width:9%;
}
.tc_MoneySum
{
	width:10%;
}
.tc_ConName
{
	display:none;
}
.tc_ConNameBorR
{
	width:8%;
}


.txtItemCode
{
	width:  55%;
}
.btnItemQuery
{
	width:34px;
	height:20px;
}
.txtItemName
{
	width: 90%;
}
.txtItemSpecial
{
	width: 90%;
}

.txtBatchCode
{
	width: 90%;
}
.txtItemPrice
{
	width: 90%;
}
.txtReqNum
{
	width: 90%;
}
.txtItemNum
{
	width: 90%;
}

.txtRemark
{
	width:100%;
	height: 50px;
}

.itemRemark
{
	padding-right: 2px;
	margin-top: 10px;
	padding-left: 2px;
	width: 100%;
	position: relative;
}
.txtFee
{
	width:120px;
}
.tc_DualLine
{
	text-align:left;
}
.TableaddHidden
{
	width:100%;
	display: none;
	font-size:12px;
	position: relative;
	margin-top: 10px;
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-top-style: none;
	border-bottom: #c1cdd8 1px solid;
	border-collapse: collapse;
	text-align: center;
}

.Tableadd
{
	width: 100%;
	display: block;
	font-size:12px;
	position: relative;
	margin-top: 10px;
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-top-style: none;
	border-bottom: #c1cdd8 1px solid;
	border-collapse: collapse;
	text-align: center;
}

.Tableadd TD
{
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-bottom: #c1cdd8 1px solid;
}

.TableaddHidden TD
{
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-bottom: #c1cdd8 1px solid;
}
.DivItemtable
{
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 280px;
	border-bottom-style: none;
}