
.tc_ReqDeptName
{
	width:9%;
}
.tc_ItemCode
{
	width:14%;
}
.tc_ItemName
{
	width:9%;
}
.tc_ItemSpecial
{
	width:9%;
}
.tc_ItemUnitName
{
	width:7%;
}
.tc_ItemPrice
{
	width:5%;
}
.tc_ItemPlanNum
{
	width:7%;
}
.tc_ItemPlanMoney
{
	width:6%;
}
.tc_ReqReason
{
	width:11%;
}
.tc_ReqDate
{
	width:10%;
}
.tc_Proposer
{
	width:7%;
}
.tc_Remark
{
	width:6%;
}
.tc_ToolBar
{
	text-align:center;
}


select#item1_ddlReqDept_thisDDL
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	width: 90%;
}
.txtItemCode
{
	width:  55%;
}
.btnItemQuery
{
	width:34px;
	height:20px;
}
.txtItemName
{
	width: 90%;
}
.txtItemSpecial
{
	width: 90%;
}
.txtItemPrice
{
	width: 90%;
}
.txtReqNum
{
	width: 90%;
}
input#item1_ddlPurpose_txtUsing
{
	width: 45%;
}
input#item1_ddlPurpose_btnSubmit
{
	width:34px;
	height:20px;
}
.txtReqDate
{
	width: 90%;
}
.txtRemark
{
	width:90%;
}
.TableaddHidden
{
	width:100%;
	display: none;
	font-size:12px;
	position: relative;
	margin-top: 10px;
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-top-style: none;
	border-bottom: #c1cdd8 1px solid;
	border-collapse: collapse;
	text-align: center;
}

.Tableadd
{
	width: 100%;
	display: block;
	font-size:12px;
	position: relative;
	margin-top: 10px;
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-top-style: none;
	border-bottom: #c1cdd8 1px solid;
	border-collapse: collapse;
	text-align: center;
}

.Tableadd TD
{
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-bottom: #c1cdd8 1px solid;
}

.TableaddHidden TD
{
	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-bottom: #c1cdd8 1px solid;
}
.ifr_CalFrame
{
	display: none;  
	width: 148px; 
	position: absolute; 
	height: 194px;
	margin:0px 0px 0px 0px;
	border-width:0px;
}
.DivItemtable
{
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}