@import url("../../CSS/Common.css");
@import url("../../CSS/Modules/DocWebControl.css");
@import url("../../CSS/Modules/DocAuditWebControl.css");
@import url("../../CSS/Printer.css");
.table_Item
{
	width:100%;
	border-collapse: separate;
	margin-left:auto;
	margin-right:auto;
}
.table_Item td
{
	padding: 0px 3px 0px 3px;
}
.table_Footer
{
	width:100%;
	padding-top:5px;
	border-width:0px;
	border-collapse: separate;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	margin-left:auto;
	margin-right:auto;
}
.table_Footer td
{
	padding: 1px 1px 1px 1px;
	width:25%;
}