@import url("../../CSS/Common.css");
@import url("../../CSS/Modules/StorageDropdownlist.css");
body
{
	margin:8px 0px 0px 0px;
}
.table_toolbar td
{
	padding: 3px 3px 3px 3px;
}
.td_label
{
	width:15%;
	vertical-align:top;
}
.td_content
{
	width:85%;
}
.td_Submit
{
	text-align:center;
}
select#ddlUser_thisDDL
{
	width:130px;
}