<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key="NodeIP" value ="10.0.0.253"/-->
    <add key="NodeIP" value ="10.0.0.235"/>
    <add key="ProgID" value ="Kepware.KEPServerEnterprise.V5"/>
    <add key="OPCGroup" value ="Shmzh"/>
    <add key="Topic" value ="400026"/>

    <add key="KEP_NodeIP" value ="10.0.0.235"/>
    <add key="KEP_ProgID" value ="Kepware.KEPServerEnterprise.V5"/>
    <add key="KEP_OPCGroup" value ="Shmzh"/>
    <add key="KEP_Address" value ="400026"/>
  </appSettings>
</configuration>