<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--数据访问层-->
		<add key="SystemDAL" value="Shmzh.Components.SystemComponent.SQLServerDAL"/>
		<!--所有人的分组,该分组下的人员自动维护。不可删除，以及更改。-->
		<add key="EveryOneGroup" value="3"/>
		<!--工作流数据名称-->
		<add key="FloDBName" value="DLFloDB"/>
		<!--东兰工作流组织机构同步标志-->
		<add key="SettingName" value="DLFLO"/>
		<!--DLFloDB中123456所代表的加密字符串,ypwater所代表的是585cf1e59a21a8f9fc961fcd77678daf-->
		<add key="DLFlo_UserPWD" value="e10adc3949ba59abbe56e057f20f883e"/>
		<!--工作流中用户分类-->
		<add key="DLFlo_UserCat" value="sxwater"/>
		<!--工作流中的所属域-->
		<add key="DLFlo_Domain" value="sxwater"/>
		<!--地区编号-->
		<add key="DLFlo_LocationCode" value="SX"/>
		<!--语言-->
		<add key="DLFlo_Language" value="CN"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="false">
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
       -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages/></system.web>
</configuration>
